<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="logo">e-<span style="color: #FFD500">W</span>arsztat</div>
  <div class="navbar-nav">
    <div class="round-button">{{getInitials()}}</div>
    <div class="userInfo">
      <div class="name">{{getName()}}</div>
      <div class="position">{{currentUser.position}}</div>
      <div class="login" (click)="logout()"> Wyloguj</div>
    </div>
  </div>
</nav>

<div class="full-size-container">
  <router-outlet></router-outlet>
</div>
