<div class="round-button plus" (click)="addTaskModal()">+</div>

<task-list
  [data]="tasks"
  [filterByStatus]="'NEW'"
  [label]="'NOWE'"
  [withHeader]="true"
></task-list>
<div class="break"></div>
<task-list
  [data]="tasks"
  [filterByStatus]="'IN_PROGRESS'"
  [label]="'W TRAKCIE'"
></task-list>
<div class="break"></div>
<task-list
  [data]="tasks"
  [filterByStatus]="'FINISHED'"
  [label]="'ZAKONCZONE'"
></task-list>
<div class="break"></div>
<task-list
  [data]="tasks"
  [filterByStatus]="'INTERRUPTED'"
  [label]="'WSTRZYMANE'"
></task-list>

