.add-task {
  .add-task-header {
    display: flex;

    h1 {
    }

    .close-button {
      flex-direction: row;
    }

  }

  .add-task-data {
    width: 30%;
    display: inline-block;
    vertical-align: top;

    .task-info {
      input {
        width: 100%;
        height: 100%;
      }
    }

  }

  .add-task-description {
    width: 70%;
    display: inline-block;
    vertical-align: top;

    .task-info, .description {
      height: 30%;
      textarea {
        width: 100%;
        height: 100%;
      }

    }
  }
}
