<div class="close-line">
  <div class="round-button plus" (click)="close()">X</div>
</div>
<div class="add-task">
  <div class="add-task-header">
  </div>
  <div>
    <div class="add-task-data">
      <div class="user-info">
        <div class="subheader">Dane klienta</div>
        <i class="fa fa-search" (click)="openUserSearch()"></i>
        <form [formGroup]="userDataForm">
          <div class="form-group">
            <div class="form-group">
              <input type="text" formControlName="firstName" class="login-form-input" placeholder="Imie"
                     [ngClass]="{ 'is-invalid': submitted && userForm.firstName.errors }">
            </div>
            <input type="text" formControlName="lastName" class="login-form-input" placeholder="Nazwisko"
                   [ngClass]="{ 'is-invalid': submitted && userForm.lastName.errors }">
          </div>
          <div class="form-group">
            <input type="text" formControlName="personalId" class="login-form-input" placeholder="PESEL"
                   [ngClass]="{ 'is-invalid': submitted && userForm.personalId.errors }">
          </div>
          <div class="form-group">
            <input type="text" formControlName="phoneNumber" class="login-form-input" placeholder="Telefon komórkowy"
                   [ngClass]="{ 'is-invalid': submitted && userForm.phoneNumber.errors }">
          </div>
        </form>
      </div>
      <div class="car-info">
        <div class="subheader">Dane samochodu</div>
        <i class="fa fa-search" (click)="openCarSearch()"></i>
        <form [formGroup]="carDataForm">
          <div class="form-group">
            <input type="text" formControlName="registerNumber" class="login-form-input"
                   placeholder="Numer rejestracyjny" [ngClass]="{ 'is-invalid': submitted && carForm.registerNumber.errors }">
          </div>
          <div class="form-group">
            <input type="text" formControlName="mark" class="login-form-input"
                   placeholder="Marka" [ngClass]="{ 'is-invalid': submitted && carForm.mark.errors }">
          </div>
          <div class="form-group">
            <input type="text" formControlName="model" class="login-form-input"
                   placeholder="Model" [ngClass]="{ 'is-invalid': submitted && carForm.model.errors }">
          </div>
          <div class="form-group">
            <input type="text" formControlName="vinNumber" class="login-form-input"
                   placeholder="Numer VIN" [ngClass]="{ 'is-invalid': submitted && carForm.vinNumber.errors }">
          </div>
        </form>
      </div>
    </div>
    <div class="add-task-description">
      <div class="task-info">
        <div class="subheader">Wywiad - opis zlecenia / problemu</div>
        <form [formGroup]="interviewForm">
          <textarea type="text" formControlName="interviewTaskDescription" class="login-form-input"
                    placeholder="Klient zgłasza potrzebę..."></textarea>
        </form>
      </div>
      <div class="description">
        <form [formGroup]="descriptionForm">
          <div class="subheader">Opis wykonanych zadań</div>
          <textarea type="text" formControlName="taskDoneDescription" class="login-form-input"
                    placeholder="Zostało wykonane..."></textarea>
        </form>
      </div>
      <div class="state">
        <form #statusForm="ngForm" (change)="setStatus(statusForm.value)">
          <span class="subheader" [ngClass]="{ 'is-invalid': submitted && !statusSelected }">Status: </span>
          <div class="radio-input" *ngFor="let status of taskStatuses">
            <input type="radio" id="{{status}}" name="status" value="{{status}}" ngModel
                   [checked]="status == statusSelected">
            <label for="{{status}}">
              {{status | ConvertStatusPipe}}
            </label>
          </div>
        </form>
      </div>
      <button (click)="save()" [disabled]="loading">Zapisz</button>
      <button (click)="delete()" [disabled]="!taskToEdit?.id">Usuń</button>
    </div>
  </div>
</div>
