<table class="tasks">
  <colgroup>
    <col *ngFor="let i of[].constructor(5)">
  </colgroup>

  <tr class="header" *ngIf="withHeader">
    <th></th>
    <th>marka/model</th>
    <th>nr.rejestracji</th>
    <th>mechanik</th>
    <th>status</th>
  </tr>

  <tr *ngFor="let task of tasks; let first=first">
    <td *ngIf="first"><div>{{label}}</div></td>
    <td *ngIf="!first"><div></div></td>
    <td><div>{{task.mark}}/{{task.model}}</div></td>
    <td><div>{{task.registerNumber}}</div></td>
    <td><div>{{task.mechanic}}</div></td>
    <td><div>{{task.status | ConvertStatusPipe}}</div></td>
  </tr>
</table>
