<div class="table-wrapper">
<table class="tasks" *ngIf="tasks">
  <colgroup>
    <col style="width: 10%">
    <col *ngFor="let i of[].constructor(5)">
  </colgroup>

  <tr class="header" *ngIf="withHeader">
    <th></th>
    <th>marka/model</th>
    <th>nr.rejestracji</th>
    <th>mechanik</th>
    <th>klient</th>
<!--    <th>status</th>-->
    <th></th>
  </tr>

  <tr *ngFor="let task of tasks; let first=first">
    <td *ngIf="first"><div>{{label}}</div></td>
    <td *ngIf="!first"><div></div></td>
    <td><div>{{task.car?.mark}} {{task.car?.model}}</div></td>
    <td><div>{{task.car?.registerNumber}}</div></td>
    <td><div>{{task.mechanic?.personDetails?.firstName + ' ' + task.mechanic?.personDetails?.lastName}}</div></td>
    <td><div>{{task.client?.firstName + ' ' + task.client?.lastName}}</div></td>
<!--    <td><div>{{task.status | ConvertStatusPipe}}</div></td>-->
    <td><div class="lastRow"><button class="edit-button" (click)="editTask(task)">Edytuj</button></div></td>
  </tr>
</table>
</div>
