table.tasks {

  border-collapse: collapse;
  border-spacing:0 15px;

  background-color: #ECECEB;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  padding-left: 5%;
  padding-right: 2%;

  tr {
    display: table-row;


    th {
      background-color: #ECECEB;
    }

    td {
      display:table-cell;
      font-size: 20px;
      color: black;
      padding: 0;
      &:first-of-type{
        div {
          background-color: #ECECEB;
        }
      }
      &:nth-child(2){
        div {
          border-top-left-radius:  24px;
          border-bottom-left-radius:  24px;
        }
      }

      &:nth-last-child(1){
        div {
          border-top-right-radius: 24px;
          border-bottom-right-radius: 24px;
        }
      }

      div {
        border-width: 0 0;
        background-color: #ffffff;
        /* now, here you can add the margin */
        margin-bottom: 5px;
        margin-top: 5px;
        /* just some nice padding, you don't really need this */
        padding: 10px;
      }
    }
  }
}

