<div class="close-line">
  <div class="round-button plus" (click)="close()">X</div>
</div>
<div class="add-task">
  <div class="add-task-header">
  </div>
  <div>
    <div class="add-task-data">
      <div class="user-info">
        <div class="subheader">Dane klienta</div><i class="fa fa-search" (click)="openUserSearch()"></i>
        <form [formGroup]="userDataForm">
          <div class="form-group">
            <input type="text" formControlName="lastName" class="login-form-input" placeholder="Nazwisko">
          </div>
          <div class="form-group">
            <input type="text" formControlName="firstName" class="login-form-input" placeholder="Imie">
          </div>
          <div class="form-group">
            <input type="text" formControlName="personalId" class="login-form-input" placeholder="PESEL">
          </div>
          <div class="form-group">
            <input type="text" formControlName="phoneNumber" class="login-form-input" placeholder="Telefon komórkowy">
          </div>
        </form>
      </div>
      <div class="car-info">
        <div class="subheader">Dane samochodu</div><i class="fa fa-search" (click)="openCarSearch()"></i>
        <form [formGroup]="carDataForm">
          <div class="form-group">
            <input type="text" formControlName="registerNumber" class="login-form-input"
                   placeholder="Numer rejestracyjny">
          </div>
          <div class="form-group">
            <input type="text" formControlName="mark" class="login-form-input" placeholder="Marka">
          </div>
          <div class="form-group">
            <input type="text" formControlName="model" class="login-form-input" placeholder="Model">
          </div>
          <div class="form-group">
            <input type="text" formControlName="vinNumber" class="login-form-input" placeholder="Numer VIN">
          </div>
        </form>
      </div>
    </div>
    <div class="add-task-description">
      <div class="task-info">
        <div class="subheader">Wywiad - opis zlecenia / problemu</div>
        <form [formGroup]="interviewForm">
          <textarea type="text" formControlName="interviewTaskDescription" class="login-form-input"
                    placeholder="Klient zgłasza potrzebę..."></textarea>
        </form>
      </div>
      <div class="description">
        <form [formGroup]="descriptionForm">
          <div class="subheader">Opis wykonanych zadań</div>
          <textarea type="text" formControlName="taskDoneDescription" class="login-form-input"
                    placeholder="Zostało wykonane..."></textarea>
        </form>
      </div>
      <div class="state">
        <form #statusForm="ngForm" (change)="setStatus(statusForm.value)">
          <span class="subheader">Status: </span>
          <div class="radio-input" *ngFor="let status of taskStatuses">
            <input type="radio" id="{{status}}" name="status" value="{{status}}" ngModel [checked]="status == statusSelected">
            <label for="{{status}}">{{status | ConvertStatusPipe}}</label>
          </div>
        </form>
      </div>
      <button (click)="save()">Zapisz</button>
      <button (click)="save()">Usuń</button>
    </div>
  </div>
</div>
