<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="logo">e-<span style="color: #FFD500">W</span>arsztat</div>
  <div class="navbar-nav">
    <div class="round-button plus" (click)="addTaskModal()">+</div>
    <div class="round-button">{{getInitials()}}</div>
    <div class="userInfo">
      <div class="name">{{currentUser.firstName + ' ' + currentUser.lastName}}</div>
      <div class="position">młodszy mechanik</div>
      <div class="login" (click)="logout()"> Wyloguj</div>
      <!--      ({{currentUser.username}})-->
    </div>
    <!--    <a class="nav-item nav-link" routerLink="/">Home</a>-->
    <!--    <a class="nav-item nav-link" (click)="logout()">Logout</a>-->
  </div>
</nav>

<!-- main app container -->
<!--<div class="container">-->
<div class="full-size-container">
  <router-outlet></router-outlet>
</div>
